<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.sesims.forms" version="1.0.0" 
xmlns="http://www.w3.org/ns/widgets"
xmlns:android="http://schemas.android.com/apk/res/android" 
xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <icon src="www/logo (1).png" platform="android" width="57" height="57" density="mdpi" />
    <name>Pelinor's Songs</name>
    <description>
        Pelinor's Songs é uma app para criar soundboars para o rpg que o marcelo joga.
    </description>
    <author email="nq3i4fsx@hotmail.com" href="#">
        Danilo Lima
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
        <plugin name="cordova-plugin-whitelist" source="npm" spec="1.1.0" />
        <allow-navigation href="*" />
        <allow-intent href="*" />
        <access origin="*" /> <!-- Required for iOS9 -->
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="portrait" />
    <platform name="android">
        <allow-intent href="market:*" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
